- info_component = Users::InfoComponent.new(user: @object)
= turbo_stream.replace(info_component.to_dom_id) do
  = render info_component

- batches_table_component = Users::BatchesTableComponent.new(user: @object)
= turbo_stream.replace(batches_table_component.to_dom_id) do
  = render batches_table_component
