- update_membership_component = Memberships::UpdateRoleComponent.new(membership: @membership, redirect_url: @redirect_url)
= turbo_stream.replace(update_membership_component.to_dom_id) do
  = render update_membership_component
