<div class="flex items-center justify-center h-screen">
  <div class="text-center bg-white py-16 px-32 rounded-2xl shadow">
    <h1 class="font-bold text-7xl leading-24 bg-gradient-to-br from-fuchsia-600 via-violet-700 to-purple-900 bg-clip-text text-transparent">le wagon games</h1>
    <div class="my-10">
      <%= button_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: "bg-fuchsia-900 text-white py-4 px-16 text-2xl rounded-xl hover:bg-fuchsia-700 transition", "data-turbo": false %>
    </div>
  </div>
</div>
