.flex.flex-col
  .-my-2.-mx-4.overflow-x-auto.sm:-mx-6.lg:-mx-8
    .inline-block.min-w-full.py-2.align-middle.md:px-6.lg:px-8
      .overflow-hidden.shadow.ring-1.ring-black.ring-opacity-5.rounded-lg
        %table{ options }
          = header
          = body
