= render PageComponent.new do |c|
  - c.heading("Add member", :user)

  - c.body do
    .w-full
      = turbo_frame_tag :batches__add_user_form_component do
        = render Batches::AddUserFormComponent.new(batch: @batch, users_search_query: params[:users_search_query])
