.w-full.bg-white.border.border-gray-200.p-8.rounded-lg
  .flex.justify-between.items-center
    .text-3xl.cool-text-gradient
      = game.game_type.name

    = link_to "Go to game", game, class: "green-button"
