= turbo_frame_tag to_dom_id do
  = render TableComponent.new do |table|
    - table.header do |header|
      - header.column(class: "text-lg") { "Batch" }
      - header.column(class: "text-lg") { "Location" }
      - header.column(class: "text-lg") { "Role" }
      - header.column

    - table.body do |body|
      = user.memberships.batch_names_alphabetically.each do |membership|
        - body.row do |row|
          - row.column(class: "text-2xl") { membership.batch.decorate.display_name }
          - row.column(class: "text-2xl") { membership.batch.decorate.display_location }
          - row.column(class: "text-2xl") { membership.decorate.display_role }
          - row.column(class: "flex justify-end") do
            = render Users::ToggleMembershipComponent.new(user:, batch: membership.batch)
