= render PageComponent.new do |c|
  - c.heading(@user.nickname, "user")

  - c.body do
    .w-full.grid.grid-cols-3.border.rounded-lg.p-8.bg-white
      .flex
        %dl.flex.flex-col.gap-y-1
          %dt.text-lg.font-bold Nickname
          %dt.text-2xl.flex.space-x-2.items-center.gap-x-2
            = render Users::NameWithAvatarComponent.new(user: @user)
