.flex.flex-col.gap-y-8
  .flex.flex-col
    .label Track 1
    = playlist.decorate.spotify_iframe(:track_1_url)

  .flex.flex-col
    .label Track 2
    = playlist.decorate.spotify_iframe(:track_2_url)

  .flex.flex-col
    .label Track 3
    = playlist.decorate.spotify_iframe(:track_3_url)
