= turbo_frame_tag dom_id(current_player, :progress_bar) do
  .flex.flex-col.gap-y-2
    .flex.w-full.justify-center.text-gray-500
      = text
    .w-full.bg-gray-200.rounded-full
      .bg-fuchsia-600.text-xs.font-medium.text-center.h-4.leading-none.rounded-full{
        style: "width: #{guessed_percentage}%",
        class: css_classes,
        "data-test": "progress-bar"
      }
