= render TableComponent.new do |table|
  - table.header do |header|
    - header.column { "User" }
    - header.column { "Role" }
    - header.column

  - table.body do |body|
    = batch.memberships.nicknames_alphabetically.each do |membership|
      - body.row do |row|
        - row.column do
          = render Users::NameWithAvatarComponent.new(user: membership.user)
        - row.column { membership.role }
        - row.column(class: "text-right") do
          - unless membership.role_owner?
            = button_to "Remove", admin_batch_membership_path(@batch, membership), method: :delete, "data-turbo-confirm": "Are you sure?", class: "py-2 px-4 border border-gray-200 rounded-lg hover:bg-red-500 hover:text-white transition"
